@use 'variables' as *;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: $bg-body;
  font-family: $main-font-family;
  overflow-x: hidden;
  color: $text-color;
}

footer {
  margin-top: auto;
}
.container {
  margin: 0 auto;
  width: 100vw;
  max-width: 1440px;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
