// -------Colors---------
$bg-body: #f5f5f5;
$bg-card: #e5e5e5;
$title-color: #263238;
$text-color: #8f95a5;
$numbers-color: #2a3246;
$hamburger-btn-color: #39515e;
// -------google fonts-----
$main-font-family: 'Poppins', sans-serif;
