@use 'variables' as *;
@use 'resets';
// -----Navigation---------
.nav {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  max-width: 1440px;
  max-height: 50px;
  position: relative;
  padding-top: 2em;

  &__logo {
    max-width: 106px;
    max-height: 54px;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    visibility: hidden;
  }

  &__link {
    font-size: 1.25em;
    padding: 0 1em;
    color: $title-color;
  }

  &__btn {
    border: 2px solid $title-color;
    border-radius: 5px;
    font-size: 1.5em;
    margin-left: auto;
    color: $title-color;
    padding: 0.3em 1em;
    visibility: hidden;
    white-space: nowrap;
  }
  // -----------Mobile menu-----------
  &__menu {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
  }
  &__burger {
    width: 30px;
    height: 3px;
    background: $hamburger-btn-color;
    position: absolute;
    top: 0.5em;
    right: 0;
    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 3px;
      background: $hamburger-btn-color;
      top: 8px;
      left: 0;
    }
    &::before {
      content: '';
      position: absolute;
      top: -8px;
      left: 0;
      width: 30px;
      height: 3px;
      background: $hamburger-btn-color;
    }
    &.open {
      background: transparent;
      &::before {
        transform: rotate(45deg) translate(5px, 8px);
      }

      &::after {
        transform: rotate(-45deg) translate(3px, -7px);
        width: 30px;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .container {
  }
  .nav {
    // .nav__logo

    &__logo {
    }

    // .nav__links

    &__links {
      visibility: visible;
    }

    // .nav__link

    &__link {
    }

    // .nav__btn

    &__btn {
      visibility: visible;
    }

    // .nav__menu

    &__menu {
      visibility: hidden;
    }

    // .nav__burger

    &__burger {
    }
  }
}
// --------- Header--------
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 2em;

  // .hero_description

  &_description {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  // .hero__info

  &__info {
    font-size: 0.9em;
    width: 100%;
    order: 2;
    border: 1px solid red;
    margin-top: 1.5em;
  }

  // .hero__title

  &__title {
    font-size: 2em;
    color: #000;
    position: relative;
    line-height: 1.5em;
  }
  &__title::after {
    visibility: hidden;
  }

  // .hero__btn

  &__btn {
    border-radius: 5px;
    color: white;
    background: $title-color;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1em;
    padding: 1em;
    margin-top: 2em;
  }

  // .hero__img

  &__img {
    display: flex;
    width: 100%;
    order: 1;
    border: 1px solid red;
  }
  &__img img {
    width: 100%;
  }
}
.container {
}
@media screen and (min-width: 575px) {
  // .hero__btn
  .hero {
    &__btn {
      padding: 1.5em;
      width: 50%;
    }
  }
}
@media screen and (min-width: 767px) {
  .hero {
    font-size: 1em;

    flex-direction: row;
    // .hero_description

    &_description {
      font-size: 1em;
      margin-top: 1em;
    }

    // .hero__info

    &__info {
      order: 1;
      text-align: left;
    }

    // .hero__title

    &__title {
      font-size: 3em;
      text-align: left;
      width: 70%;
    }

    &__title::after {
      visibility: visible;
      content: '';
      background: url('../img/light-bulb.png') no-repeat center;
      background-size: cover;
      margin: 0;
      width: 100px;
      height: 100px;
      position: absolute;
      right: 0;
      bottom: 1em;
    }

    // .hero__btn

    &__btn {
      font-size: 1.1em;
      padding: 1em 3em;
      margin-top: 2em;
    }

    // .hero__img

    &__img {
      order: 2;
    }
  }
  .container {
  }
}
@media screen and (min-width: 992px) {
  .hero {
    // .hero_description

    &_description {
    }

    // .hero__info

    &__info {
      font-size: 1.25em;
      line-height: 1.8em;
    }

    // .hero__title

    &__title {
      font-size: 3em;
    }
    &__title::after {
      width: 120px;
      height: 120px;
    }

    // .hero__btn

    &__btn {
    }

    // .hero__img

    &__img {
    }
  }
  .container {
  }
}
// --------- Main--------
// --------- Footer--------

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
