@use 'variables' as *;
@use 'resets' as *;
@use 'mixins' as *;
// -----Navigation---------

// ----reuseable styles-----
.section__title {
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  color: $title-color;
  padding-top: 2em;
}
@media screen and (min-width: 575px) {
  .section__title {
    font-size: 1.9em;
  }
}
@media screen and (min-width: 992px) {
  .section__title {
    font-size: 2.25em;
  }
}
// ----------------------------

.nav {
  position: relative;
  // .nav__links
  .mobile-logo {
    height: 28px;
    position: absolute;
    z-index: 5;
    top: 1em;
    left: 2em;
  }
  .mobile-logo.hidden {
    visibility: hidden;
  }

  &__links {
    padding: 0 2em;
    position: absolute;
    background: $title-color;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    @include flex-center;
    flex-direction: column;
    overflow: hidden;
    transform: translateY(-100%);
  }

  &__links.open {
    transform: translateY(0);
    @include easy-transition;
  }

  // .nav__link

  &__link {
    margin-bottom: 1em;
    transform: translateX(100vw);
  }
  &__link:hover {
    text-decoration: underline;
  }
  &__link.open {
    transform: translateX(0);
    @include easy-transition;
  }
  // .nav__btn

  &__btn {
    border: 2px solid $text-color;
    padding: 0.5em 2em;
    border-radius: 5px;
  }

  // .nav__menu

  &__menu {
    width: 28px;
    height: 28px;
    position: absolute;
    z-index: 5;
    top: 1em;
    right: 2em;
    @include flex-center;
  }

  // .nav__burger

  &__burger {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 28px;
    height: 2px;
    background: $hamburger-btn-color;
  }
  &__burger::after {
    content: '';
    position: absolute;
    right: 0;
    top: 8px;
    width: 20px;
    height: 3px;
    background: $hamburger-btn-color;
  }
  &__burger::before {
    content: '';
    position: absolute;
    right: 0;
    top: -8px;
    width: 28px;
    height: 3px;
    background: $hamburger-btn-color;
  }
  &__burger.open {
    background: transparent;
  }
  &__burger.open::before {
    width: 100%;
    transform: rotate(45deg) translate(5px, 8px);
    background: $text-color;
    @include easy-transition;
  }
  &__burger.open::after {
    width: 28px;
    transform: rotate(-45deg) translate(3px, -7px);
    background: $text-color;
    @include easy-transition;
  }
}
@for $i from 1 through 7 {
  .nav__link:nth-child(#{$i}) {
    transition-delay: ($i * 0.1s) + 0.15s;
  }
}
@media screen and (min-width: 992px) {
  .nav {
    margin-bottom: 4em;
    // .nav__menu
    .mobile-logo {
      visibility: hidden;
    }

    &__menu {
      visibility: hidden;
    }
    // .nav__links

    &__links {
      position: absolute;
      flex-wrap: wrap;
      top: 0;
      width: 100%;
      height: 10vh;
      z-index: 1;
      color: $title-color;
      @include flex-center;
      justify-content: space-between;
      flex-direction: row;
      overflow: hidden;
      background: transparent;
    }

    // .nav__link

    &__link:first-child {
      margin-right: auto;
      margin-left: 0;
    }
    &__link {
      margin-left: 2em;
      transform: translateX(0);
      position: relative;
    }
    &__link:hover {
      text-decoration: none;
    }
    &__link:not(:last-child)::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background: $title-color;
    }
    &__link:first-child::after {
      display: none;
    }
    &__link:hover::after {
      width: 100%;
      @include easy-transition;
    }
    &__link:last-child {
      margin-left: auto;
      transform: translateX(0);
    }

    // .nav__btn

    &__btn {
      border: 2px solid $title-color;
    }
    &__btn:hover {
      color: white;
      background: $hamburger-btn-color;
      @include easy-transition;
    }
  }
}
// --------- Header--------
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 2em;
  padding-top: 4em;

  // .hero_description

  &_description {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  // .hero__info

  &__info {
    font-size: 0.9em;
    width: 100%;
    order: 2;
    margin-top: 1.5em;
  }

  // .hero__title

  &__title {
    font-size: 2em;
    color: #000;
    position: relative;
    line-height: 1.5em;
  }
  &__title::after {
    visibility: hidden;
  }

  // .hero__btn

  &__btn {
    border-radius: 5px;
    color: white;
    background: $title-color;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1em;
    padding: 1em;
    margin-top: 2em;
    white-space: nowrap;
  }
  &__btn:hover {
    background: lighten($title-color, 20%);
  }

  // .hero__img

  &__img {
    display: flex;
    width: 100%;
    order: 1;
  }
  &__img img {
    width: 100%;
  }
}

@media screen and (min-width: 575px) {
  // .hero__btn
  .hero {
    &__btn {
      padding: 1.5em;
      width: 50%;
    }
  }
}
@media screen and (min-width: 767px) {
  .hero {
    font-size: 1em;

    flex-direction: row;
    // .hero_description

    &_description {
      font-size: 1em;
      margin-top: 1em;
      text-align: left;
      width: 70%;
    }

    // .hero__info

    &__info {
      order: 1;
      text-align: left;
    }

    // .hero__title

    &__title {
      font-size: 3em;
      text-align: left;
      width: 70%;
    }

    &__title::after {
      visibility: visible;
      content: '';
      background: url('../img/light-bulb.png') no-repeat center;
      background-size: cover;
      margin: 0;
      width: 100px;
      height: 100px;
      position: absolute;
      right: 0;
      bottom: 1em;
    }

    // .hero__btn

    &__btn {
      font-size: 1.1em;
      padding: 1em 3em;
      margin-top: 2em;
    }

    // .hero__img

    &__img {
      order: 2;
    }
  }
}
@media screen and (min-width: 992px) {
  .hero {
    // .hero__info

    &__info {
      font-size: 1.25em;
      line-height: 1.8em;
    }

    // .hero__title

    &__title {
      font-size: 3em;
    }
    &__title::after {
      width: 120px;
      height: 120px;
    }
  }
}
// --------- Main-------------
// ----------Skills-----------
.skills {
  padding: 0 2em;
  // .skills__title

  &__title {
  }

  // .skills__wrapper

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  // .skills__card

  &__card {
    @include flex-center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    text-align: center;
  }

  // .skills__img

  &__img {
    max-width: 100%;
  }
  &__img img {
    width: 100%;
  }

  // .skills__name

  &__name {
  }

  // .skills__desc

  &__desc {
  }

  // .skills__btn

  &__btn {
  }
}
.container {
}
.section {
  // .section__title

  &__title {
  }
}
@media screen and (min-width: 575px) {
  .skills__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 767px) {
  .skills__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .skills__card:nth-child(1) {
    grid-row: 1 / 4;
  }
  .skills__card--big * {
    align-self: stretch;
    // margin-bottom: 2.3em;
  }
  .skills__card:nth-child(4) {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    flex-direction: row;
  }
}
// ----------About us---------
.about {
  padding: 0 2em;
  font-size: 1em;
  // .about__wrapper

  &__wrapper {
    @include flex-center;
    flex-direction: column;
  }

  // .about__img

  &__img {
    max-width: 100%;
  }
  &__img img {
    width: 100%;
  }

  // .about__text

  &__text {
    font-size: 0.9em;
    line-height: 1.8em;
  }
  &__text p:first-child {
    visibility: hidden;
  }

  // .about__number

  &__number {
    font-weight: 600;
    font-size: 1.5em;
    color: $numbers-color;
    padding-top: 1.5em;
  }
}

@media screen and (min-width: 575px) {
  .about {
    // .about_results

    &_results {
      display: flex;
      @include flex-center;
    }

    // .about__text

    &__text {
      font-size: 0.9em;
    }

    // .about__result

    &__result {
      flex: 1 1 30%;
    }

    // .about__desc

    &__desc {
      font-size: 0.9em;
    }
  }
}
@media screen and (min-width: 767px) {
  .about__title {
    visibility: hidden;
  }
  .about__wrapper {
    flex-direction: row;
  }
  .about__img {
    order: 2;
    flex: 1 1 50%;
  }
  .about__info {
    order: 1;
    flex: 1 1 50%;
  }
  .about__text {
    text-align: left;
  }
  .about__text p:first-child {
    text-align: left;
    font-size: 1.9em;
    font-weight: 600;
    color: $title-color;
    padding-bottom: 2em;
    visibility: visible;
  }
  .about_results {
    justify-content: space-between;
  }
  .about__result {
    flex: none;
    display: inline-block;
  }
}
// --------- Footer--------

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
